<div class="main">
  <div class="banner">
    <img src="../assets/img/Versex-logo.png" height="50" [routerLink]="'/logs'"/>
    <div style="width: 100%;"></div>
    <app-user-dropdown username="{{this.userService.getUserNameFromUser()}}"></app-user-dropdown>
  </div>

  <div class="container">
    <div class="sidenav">
      <div class="element" [routerLink]="'/dashboard'">
        <i class="pi pi-home" style="font-size: 1.2em;"></i>
        Home
      </div>
      <div class="element" style="margin-top: 2%;" [routerLink]="'/dashboard'">
        <i class="pi pi-desktop" style="font-size: 1.2em;"></i>
        Dashboard
      </div>
      <div *ngIf="this.userService.getIsUserAdmin()" class="element" style="margin-top: 2%;" [routerLink]="'/logs'">
        <i class="pi pi-server" style="font-size: 1.2em;"></i>
        Log History
      </div>
    </div>
    <div class="content">
      <div class="inner-content">
        <div class="head-sytle">
          <h1>Sensors</h1>
        </div>
          <app-sensor-dashboard></app-sensor-dashboard>
        <div class="head-sytle">
          <h1>Controls</h1>
        </div>
        <div class="controls">
          <div class="offset">
            <app-door-device></app-door-device>
          </div>
          <div class="offset">
            <app-door-device></app-door-device>
          </div>
          <div class="offset">
            <app-ac-device></app-ac-device>
          </div>
          <div class="offset">
            <app-ac-device></app-ac-device>
          </div>
          <div class="offset">
            <app-light-device></app-light-device>
          </div>
          <div class="offset">
            <app-light-device></app-light-device>
          </div>
          <app-select-device *ngIf="showDeviceDialog" (onCloseClicked)="closeComponent()" (onAddDeviceClicked)="addDevice($event)"></app-select-device>
          <div *ngFor="let d of devices"  class="offset">
            <div *ngIf="d.type == 'ac'">
              <app-ac-device aliasName="{{d.name}}"></app-ac-device>
            </div>
            <div *ngIf="d.type == 'lightswitch'">
              <app-light-device aliasName="{{d.name}}"></app-light-device>
            </div>
            <div *ngIf="d.type == 'door'">
              <app-door-device aliasName="{{d.name}}"></app-door-device>
            </div>
          </div>
          <div class="offset">
            <app-add-device (onClicked)="displayDeviceDialog()"></app-add-device>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<!--
<div class="center-container">
  <p-panel header="Sensors">
    <div class="actualSensorsContainer"> <!-- *ngIf="currentSensors.length > 0"
      <p-knob [size]="200"></p-knob>
      <p-knob [size]="200"></p-knob>
      <p-knob [size]="200"></p-knob>
    </div>
  </p-panel>
</div><br><br><br>

<div class="center-container">
  <p-panel header="Actors">
    <div class="actualSensorsContainer"> <!-- *ngIf="currentActors.length > 0"
      <p>
        Actors
      </p>
    </div>
  </p-panel>
</div>
-->
