<div class="center-container">
  <p-panel header="Sensors">
    <div class="actualSensorsContainer"> <!-- *ngIf="currentSensors.length > 0"-->
      <p-knob [size]="200"></p-knob>
      <p-knob [size]="200"></p-knob>
      <p-knob [size]="200"></p-knob>
    </div>
  </p-panel>
</div><br><br><br>

<div class="center-container">
  <p-panel header="Actors">
    <div class="actualSensorsContainer"> <!-- *ngIf="currentActors.length > 0" -->
      <p>
        Actors
      </p>
    </div>
  </p-panel>
</div>

