<div class="container" #dialog>
  <div class="header">
    <div style="width: 15em; margin-left: 1%;">
      Add Device
    </div>
    <div style="width: 100%;"></div>
    <button (click)="close()">
      <i class="pi pi-times"></i>
    </button>

  </div>
  <div class="body">
    <div class="content">
      <div class="entry">
        <div class="label">
          Alias:
        </div>
        <div class="input">
          <input type="text" #alias maxlength="11"/>
        </div>
      </div>
      <div class="entry">
        <div class="label">
          MAC:
        </div>
        <div class="input">
          <app-mac-input (macAddressChange)="onMacChanged($event)"></app-mac-input>
        </div>
      </div>
      <div class="entry">
        <div class="label">
          Type:
        </div>
        <div class="input">
          <app-device-dropdown (onSelected)="setDevice($event.valueOf())" ></app-device-dropdown>
        </div>
      </div>

      <div class="add-device-button">
        <button (click)="addDevice()">
          <i class="pi pi-plus"></i>
          Add Device
        </button>
      </div>
    </div>

  </div>
</div>
