<div class="terminal">
  <div class="bar">
    <div class="element">
      <i class="pi pi-server"></i>
    </div>
    <div class="label">
      Versex-Shell
    </div>

  </div>
  <div class="viewbox">
    <div class="display">
      <div class="row">
        <div class="timestamp">
          &lt;16.05.2023 22:16:34&gt;
        </div>
        <div class="log-message">
          $sudo apt install
        </div>
      </div>
      <div class="row">
        <div class="timestamp">
          &lt;16.05.2023 22:16:42&gt;
        </div>
        <div class="log-message">
          $sudo apt install
        </div>
      </div>
      <div class="row">
        <div class="timestamp">
          &lt;16.05.2023 22:17:02&gt;
        </div>
        <div class="log-message">
          $sudo apt install
        </div>
      </div>
      <div class="row">
        <div class="timestamp">
          &lt;16.05.2023 22:17:12&gt;
        </div>
        <div class="log-message">
          $sudo apt install
        </div>
      </div>

    </div>
  </div>
</div>
