<h1 mat-dialog-title class="title">Change password from {{data.userName}}</h1>
<div mat-dialog-content class="content">
    <form (ngSubmit)="onSubmit()" name="editingForm" [formGroup]="editUserForm" class="content">
      <span class="p-float-label">
        <p-password id="passwordInput" [toggleMask]="true" formControlName="password" required></p-password>
          <label for="password">Password</label>
        </span>
    </form>
</div>
<div class="actions">
    <div class="continue">
        <p-button id="cancelButton" (click)="cancle()">Cancel</p-button>
        <p-button id="submitButton" (click)="onSubmit()" cdkFocusInitial>Save</p-button>
    </div>
</div>
