.actions{
  display: flex;
  flex-direction: row;
}

.actions .continue{
  margin-top: 1em;
  margin-left: auto;
  margin-bottom: 1em;
}

.content{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: visible;
}

#submitButton, #cancelButton {
  margin-left: 1em;
  margin-right: 1em;
}

#passwordInput {
  width: 100% !important;
}
