.title {
  color: #091a32;
  background-color: #7fffd4;
  font-weight: bold;
  font-family: sans-serif;
}

.offset {
  margin-bottom: 1.5em;
}

.actions{
  display: flex;
  flex-direction: row;
  background-color: #091a32;
  padding-bottom: 1em;
}

.actions .continue{
  margin-left: auto;
}

.content{
  display: flex;
  padding-top: 2em;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: visible;
  min-height: 35em;
  background-color: #091a32;
}

#submitButton {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
}

#firstname, #lastname, #username, #password, #email, #roles {
  width: 100%;
}

#roleList {
  margin-bottom: 3em;
}
