<div class="container">
  <div class="header">
    Add Device
  </div>
  <div class="body">
    <div class="content">
      <div class="entry">
        <div class="label">
          Alias:
        </div>
        <div class="input">
          <input type="text" />
        </div>
      </div>
      <div class="entry">
        <div class="label">
          MAC:
        </div>
        <div class="input">
          <input type="text" maxlength="17" #MAC/>
        </div>
      </div>
      <div class="entry">
        <div class="label">
          Type:
        </div>
        <div class="input">
          <app-device-dropdown></app-device-dropdown>
        </div>
      </div>

      <div class="add-device-button">
        <button>
          <i class="pi pi-plus"></i>
          Add Device
        </button>
      </div>
    </div>

  </div>
</div>
