#deleteButton {
  margin-left: 1em;
}

.actions {
  background-color: #091a32;
}

.content {
  background-color: #091a32;
  color: #ffffff;
}

.title {
  background-color: #091a32;
  color: #7fffd4;
}
