#resetPasswordButton {
  margin-left: 2em;
}

#usersTable {
  margin-left: 20%;
  width: 70%;
}

.nav{
  display: flex;
  justify-content: safe;
  margin-bottom: 2em;
  margin-top: 4em;
  margin-left: 14em;
}

.nav #create{
  margin-top: 0.2em;
  margin-left: 2em;
}

.createButton{
  margin-bottom: 1em;
}

#editButton{
  margin-right: 1em;
}
