<div class="main">
  <div class="banner">
    <img src="../assets/img/Versex-logo.png" height="50"/>
    <div style="width: 100%;"></div>
    <app-user-dropdown username="{{this.getFirstAndSecondNameFromUser()}}"></app-user-dropdown>
  </div>

  <div class="container">
    <div class="sidenav">
      <div class="element">
        <i class="pi pi-home" style="font-size: 1.2em;"></i>
        Home
      </div>
      <div class="element" style="margin-top: 2%;" [routerLink]="'/dashboard'">
        <i class="pi pi-desktop" style="font-size: 1.2em;"></i>
        Dashboard
      </div>
      <div class="element" style="margin-top: 2%;" [routerLink]="'/logs'">
        <i class="pi pi-server" style="font-size: 1.2em;"></i>
        Log History
      </div>
    </div>
    <div class="content">
      <div class="inner-content">
        <div class="head-sytle">
          <h1>User</h1>
        </div>

        <div class="spacer">
          <div class="nav">
            <p-button (click)="refresh()">
              <mat-icon>refresh</mat-icon>
            </p-button>
            <p-button id="create" mat-raised-button class="createButton" color="primary" (click)="openCreateDialog()">Create new user</p-button>
          </div>
          <div class="card" id="usersTable" >
            <p-table [value]="dataSource" [tableStyle]="{ 'min-width': '20rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>{{ element.userId }}</td>
                        <td>{{ element.firstName }}</td>
                        <td>{{ element.lastName }}</td>
                        <td>{{ element.userName }}</td>
                        <td>{{ element.email }}</td>
                        <td>
                          <p-chip>
                            <div class="p-2">{{element.roleId == 1 ? "Admin" : "User"}}</div>
                          </p-chip>
                        </td>
                        <td>
                          <div class="userButtons">
                            <p-button label="Edit" (click)="openEditDialog(element.userId, element.userName, element.email, element.firstName, element.lastName, element.roleId)"></p-button>
                            <p-button label="Reset password" id="resetPasswordButton" (click)="openResetPasswordDialog(element.userId, element.userName)"></p-button>
                          </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
          </div>
        </div>

    </div>
  </div>
</div>



