<div class="card">
  <div class="card-head">
    <div class="card-head-line">

    </div>
    <div class="card-head-title">
      <div class="logo">
        <img src="assets\img\Versex-logo.png" width="55%">
      </div>

    </div>

    <div class="break-section">

    </div>
  </div>
  <div class="card-content">
    <mat-tab-group style="width: 100%;">
      <mat-tab label="Login" class="my-custom-tab">
        <div class="login-container">
          <div class="login-content">
            <div class="inputStyle">
              <i class="pi pi-user"></i>
              <input type="text" placeholder="Username">
            </div>
            <div class="inputStyle">
              <i class="pi pi-lock"></i>
              <input id="inputPassword" type="password" placeholder="Password">
              <div class="toggle-visibility" (click)="togglePasswordVisibility()">
                <div *ngIf="!isVisible" class="eye">
                  <i class="pi pi-eye"></i>
                </div>
                <div *ngIf="isVisible" class="eye-crossed">
                  <i class="pi pi-eye-slash"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="login-footer">
            <button>
              <div class="button-content-wrapper">
                <i class="pi pi-sign-in" style="padding-right: 5%;"></i> Log in
              </div>
            </button>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="Register">
        <div class="register-container">
          <div class="register-content">
            <div class="inputStyle">
              <i class="pi pi-user"></i>
              <input type="text" placeholder="Username">
            </div>
            <div class="inputStyle">
              <i class="pi pi-envelope"></i>
              <input type="text" placeholder="E-Mail">
            </div>
            <div class="inputStyle">
              <i class="pi pi-lock"></i>
              <input id="inputPassword" type="password" placeholder="Password">
              <div class="toggle-visibility" (click)="togglePasswordVisibility()">
                <div *ngIf="!isVisible" class="eye">
                  <i class="pi pi-eye"></i>
                </div>
                <div *ngIf="isVisible" class="eye-crossed">
                  <i class="pi pi-eye-slash"></i>
                </div>
              </div>
            </div>
            <div class="inputStyle">
              <i class="pi pi-lock"></i>
              <input id="inputPassword" type="password" placeholder="Repeat Password">
              <div class="toggle-visibility" (click)="togglePasswordVisibility()">
                <div *ngIf="!isVisible" class="eye">
                  <i class="pi pi-eye"></i>
                </div>
                <div *ngIf="isVisible" class="eye-crossed">
                  <i class="pi pi-eye-slash"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="register-footer">
            <button>
              <div class="button-content-wrapper">
                <i class="pi pi-plus-circle" style="padding-right: 5%;"></i> Register
              </div>
            </button>
          </div>
        </div>




      </mat-tab>
    </mat-tab-group>




  </div>

</div>

