<router-outlet></router-outlet>


<div style="display: flex; flex-wrap: wrap; margin-top: 100px; margin-left: 20px;">

  <app-ac-device aliasName="Fan 1"></app-ac-device>
  <app-light-device aliasName="Lamp 987"></app-light-device>
  <app-light-device aliasName="Lamp 987"></app-light-device>
  <app-light-device aliasName="Lamp 987"></app-light-device>
  <app-ac-device aliasName="Fan 1"></app-ac-device>
  <app-ac-device aliasName="Fan 1"></app-ac-device>
  <app-ac-device aliasName="Fan 1"></app-ac-device>
  <app-light-device aliasName="Lamp 99"></app-light-device>
  <app-light-device aliasName="Lamp 99"></app-light-device>

</div>


