.card {
  background-color: #071426;
  flex-direction: column;
  width: 18em;
  border-radius: 25px;
  border: 1px solid #7fffd4;
  min-height: 23em;
}

.header {
  margin-top: 0;
  width: 100%;
  background-color: #7fffd4;
  color: #071426;
  font-family: sans-serif;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  height: 35px;
}

.header h1 {
  margin: 0 0 0 0;
}

.container {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-family: sans-serif;
}

.container .deviceType {
  margin-top: 0.5em;
  font-family: sans-serif;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.container .image {
  margin-top: 0;
}

.container .tempControl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.label {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: sans-serif;
  font-size: 1.5em;
}

.controlUnit {
  margin-bottom: 1em;
}


.footer {
  width: 100%;
  height: 20%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: rotate-animation 700ms linear infinite;
}

.toggle {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.toggle button {
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.toggle button:hover {
  cursor: pointer;
}

.buttonOff {
  color: #071426;
  background-color: #7fffd4;
}

.buttonOn {
  color: #ffffff;
  background-color: #3e3e3e;
}
