.toggleButton {
  height: 60px;
  width: 120px;
  background-color: #3e3e3e;
  display: flex;
  flex-direction: row;
}

.off {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #3e3e3e;
}

.on {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #071426;
  background-color: #7fffd4;
}
