.selector {
  width: 9em;
  background-color: #040d19;
  border: 1px solid #0b213f;
  height: 2em;
  border-radius: 5px;
  font-size: large;
}

.selector option {
  padding: 10px;
  background-color: #040d19;
  font-size: 14px;
}


