.card {
  background-color: #071426;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 18em;
  border-radius: 25px;
  border: 1px solid #7fffd4;
  min-height: 23em;
}

.card:hover {
  cursor: pointer;
}

.card .split {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #7fffd4;
  color: #071426;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  font-size: x-large;
}

.button:hover {
  cursor: pointer;
}

.label {
  margin-top: 10%;
  font-size: 1.5em;
  font-family: sans-serif;
}
